@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>iCalendarSharp MVC Application</h1>
    <p class="lead">This is an ASP.NET MVC 5 implementation of the iCalendarSharp component.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Available on github &raquo;</a></p>
</div>

